<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.springbootmybatisgenerator.mapper.ItemMapper">

  <!-- WARNING - @mbg.generated -->
  <resultMap id="BaseResultMap" type="com.yang.springbootmybatisgenerator.model.Item">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="sale_num" jdbcType="INTEGER" property="saleNum" />
  </resultMap>

</mapper>